.title {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(255, 190, 115);
  padding: 15px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

h1 {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 1;
}

h2 {
  padding: 10px;
  color: #3f51b5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  font-size: 24px;
  padding: 80px 30px 20px;
  color: rgb(59, 189, 91);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 15px;
}

.buttom-group {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.geral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  padding: 0;
}

.result {
  margin: 20px auto;
  background: rgb(255, 190, 115);
  border-radius: 5px 50px 5px 50px;
  padding: 19px;
  box-shadow: 5px 10px #888888;
}

.result ul .li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  padding: 5px;
  border-radius: 50%;
  border-style: solid;
  background: rgb(59, 189, 91);
  color: whitesmoke;
  margin-top: 8px;
  height: 45px;
  width: 45px;
}

strong {
  font-size: 24px;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  flex: 1;
  bottom: 0;
  position: fixed;
  padding: 15px;
  background: #dbdada;
  justify-content: center;
}

.midias {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-text {
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .geral {
    display: block;
    margin: 60px;
  }

  h1 {
    font-size: 24px;
  }

  h2, h3 {
    font-size: 22px;
    padding: 30px 0 20px;
  }

  strong {
    font-size: 19px;
  }

  .result {
    margin-bottom: 80px;
  }

  .result ul .li {
    height: 40px;
    width: 40px;
  }
}